/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background-color: #0b132b;
    color: #e0e6f0;
    line-height: 1.6;
}

/* NAVBAR */
.header {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #0a0f2c;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #4cc9f0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #e0e6f0;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #4cc9f0;
}

/* HERO */
.hero {
    
    padding: 100px 0;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #0b132b, #1c2541);
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #4cc9f0;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 48px;
    color: #4cc9f0;
}

.tagline {
    font-size: 18px;
    opacity: 0.8;
}

/* SECTIONS */
section {
    padding: 80px 50px;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #4cc9f0;
}

/* ABOUT */
.about p {
    max-width: 700px;
    margin: auto;
    opacity: 0.9;
}

/* SERVICES */
.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1000px;
    margin: auto;
}

.service-card {
    background-color: #1c2541;
    padding: 25px;
    border-radius: 12px;
    transition: 0.3s;
    text-decoration: none;
    color: #e0e6f0;
    display: block;
}

.service-card:hover {
    transform: translateY(-6px) scale(1.02);
    background: linear-gradient(135deg, #3a86ff, #4cc9f0);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}


/* CONTACT */
.contact p {
    margin: 10px 0;
}

/* FOOTER */
footer {
    background-color: #0a0f2c;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
}